body, html{
    width: 100%;
    height: auto;
    font-family: "Times New Roman", serif;
    margin-left: auto;
    margin-right: auto;

    font-size: 12px;
}

body {
    width: 900px;
    padding: 30px;
    /*border: 1px solid coral;*/
}

* {
    margin: 0;
    padding: 0;
    outline: none;
}
header {
    display: flex;
    flex-direction: column;
}
header h1 {
    width: 100%;
    text-align: center;
}
header div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 20px 0;

    /*border: 1px solid brown;*/
}

main {
    /*border: 1px solid dodgerblue;*/
}

h1 {
    font-size: 2.8rem;
    color: #698084;
    /*border: 1px solid burlywood;*/
}

h2 {
    font-size: 2.4rem;
    color: #698084;
    font-weight: normal;
    width: 370px;
    margin: 0 10px 0 10px;

    /*border: 1px solid blue;*/
}

.current-city-h3{
    color: #698084;
    font-weight: 600;
    font-size: 2.4rem;
    height: 20%;
}

h3 {
    color: #698084;
    font-weight: 600;
    font-size: 2rem;
}

.update {
    width: 370px;
    height: 50px;
    margin: 0 10px 0 10px;
    justify-content: flex-start;
    /*border: 1px solid burlywood;*/
}

.update-button {
    display: inline-block;
    background-color: #C7D2D8;
    color: #698084;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    position: relative;

}

.update-button:hover {
    background-color: #A5AFB1;
    cursor: pointer;
}

.weather-data li{
    list-style-type: none;
    font-weight: lighter;
    font-size: 1.2rem;
    color: #F0FBFF;
    background-color: #A5AFB1;
    height: 20px;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
    vertical-align: center;
    text-align: right;
}

.weather-data b {
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
    margin-right: 30px;
}

.favorites-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 20px 0;

    /*border: 1px solid goldenrod;*/
}

.new-city {
    text-align: right;
    width: 370px;
    margin: 0 10px 0 10px;

    /*border: 1px solid cornflowerblue;*/
}


.favorites-header input {
    font-size: 1rem;
    padding: 10px;
    color: #698084;
    width: 220px;
    height: 20px;
    border: none;
    background-color: #F1F1F1;
    margin-right: 20px;
}

.favorites-header button{
    width: 30px;
    height: 30px;
    background-color: #6C8189;
    border-radius: 100%;
    border: none;
    background-position: center;
    background-image: url("../images/plus.png");
    background-size: 50% auto;
    background-repeat : no-repeat;
}

.favorites-header button:hover {
    background-color: #A5AFB1;
    cursor: pointer;
}

.city {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*border: 1px solid cornflowerblue;*/
}

.city p {
    color: #7A7A7A;
    font-size: 2.6rem;
}

.city button {
    width: 30px;
    height: 30px;
    background-color: #6C8189;
    border-radius: 100%;
    border: none;

    background-position: center;
    background-image: url("../images/cross.png");
    background-size: 50% auto;
    background-repeat : no-repeat;
}

.city button:hover {
    background-color: #A5AFB1;
    cursor: pointer;
}

.favorites-cities > li {
    list-style-type: none;
    margin: 0 10px 30px 10px;
    width: 370px;

    /*border: 1px solid red;*/
}

.favorites-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;

    /*border: 1px solid brown;*/
}

.current-city-data {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.current-city {
    width: 370px;
    margin: 0 10px 0 10px;
    /*border: 1px darkblue;*/
}



.current-city div{
    display: flex;
    height: 80%;
    width: 80%;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    /*border: 1px solid gold;*/
}

.current-city img {
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-right: 40px;

    /*border: 1px solid red;*/
}

.current-city span {
    align-self: center;

    /*border: 1px solid blue;*/
}

.current-temp {
    align-self: center;
    font-size: 6rem;
    color: #7D7D7D;
}

.current-weather-data{
    width: 370px;
}

.current-weather-data li{
    width: 350px;
    list-style-type: none;
    font-weight: lighter;
    color: #F0FBFF;
    background-color: #A5AFB1;
    font-size: 1.2rem;
    height: 20px;
    margin: 5px 0 5px 0;
    padding: 5px 10px 5px 10px;
    vertical-align: center;
    text-align: right;
}

.current-weather-data b {
    font-weight: bold;
    float: left;
    font-size: 1.2rem;
    margin-right: 30px;
}

.weather-data {
    width: 370px;
    /*border: 1px solid olivedrab;*/
}

.current-city-li {
    margin: 0 10px 0 10px;
}

/*.favorites-cities li:last-child{*/
/*    justify-content: space-evenly;*/
/*}*/