
@media (min-width : 1160px) {
    .current-weather-data li {
        font-size: 1.2rem;
    }
    .weather-data li {
        font-size: 1.2rem;
    }
}

@media (max-width : 1160px) {
    header h1 {
        text-align: left;
        font-size: 2.3rem;
    }

    header div {
        height: 3rem;
    }
    h2 {
        width: 100%;
    }

    .new-city {
        width: 100%;
        text-align: left;
    }

    .favorites-cities > li {
        width: 100%;
    }

    .current-city-data div {
        width: 100%;
    }
    .current-weather-data{
        width: 100%;
    }
    .current-weather-data li {
        font-size: 1rem;
        width: 95%;
        height: 1.8rem;
        margin-bottom: 1rem;
    }
    .current-weather-data li b{
        font-size: 1rem;
        vertical-align: middle;
    }

    .weather-data li{
        font-size: 1rem;
        height: 1.8rem;
        margin-bottom: 1rem;
        vertical-align: middle;
    }
    .weather-data li b{
        font-size: 1rem;
        vertical-align: middle;
    }

    .weather-data {
        width: 100%;
    }

    .city button,.favorites-header button {
        width: 80px;
        height: 80px;
    }
    .favorites-header input {
        width: 85%;
        height: 80px;
    }

    .current-city-data {
        flex-direction: column;
    }

    .favorites-cities {
        flex-direction: column;
    }

    .favorites-header h1{
        margin-bottom: 10px;
    }

    .favorites-header {
        flex-direction: column;
        align-content: space-around;
    }

    header div {
        flex-wrap: nowrap;
    }

    .update {
        width: 20%;
        height: 100px;
    }
    .update-button{
        width: 100px;
        height: 100px;
    }

    .update-button i {
        width: 100px;
        height: 100px;
    }

    .update-button span {
        display: none;
    }

    .update-button {
        background-image: url("../images/100.png");
        padding-left : 32px;
        padding-top : 10px;
        padding-bottom : 10px;
        background-repeat : no-repeat;

        background-size: 3rem 3rem;
        width: 3rem;
        height: 3rem;
    }

    .current-city img {
        width: 6rem;
        height: 6rem;
    }

    .city img {
        width: 3rem;
        height: 3rem;
    }

    .city button {
        width: 3rem;
        height: 3rem;
    }

    .current-city img {
        margin-right: 5rem;
    }

    .favorites-header button {
        width: 3rem;
        height: 3rem;
    }

    .favorites-header input {
        width: 80%;
        height: 2rem;
    }
}

@media (min-width : 1086px) and (max-width : 1160px) {
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
    }
}

@media (min-width : 920px) and (max-width : 1087px) {
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
    }
}

@media (min-width : 720px) and (max-width : 920px){
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        /*width: 90%;*/

        font-size: 27px;
    }
}

@media (min-width : 550px) and (max-width : 720px){
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        /*width: 90%;*/

        font-size: 22px;
    }
}
@media (min-width : 440px) and (max-width : 550px){
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        /*width: 90%;*/

        font-size: 18px;
    }
}

@media (min-width : 320px) and (max-width : 440px){
    html, body{
        width: 95%;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        /*width: 90%;*/

        font-size: 13px;
    }
}